<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="input-area" >
    <ion-input fill="outline" label="Nama" [(ngModel)] = "dataWillSubmitted.name" ></ion-input>
    <!-- Uncomment Ini untuk debugging -->
     <!-- <p>{{ dataWillSubmitted.name }}</p> -->

    <ion-input fill="outline" label="NIM" type="number" [(ngModel)] = "dataWillSubmitted.nim" ></ion-input>
    <!-- Uncomment Ini untuk debugging -->
     <!-- <p>{{ dataWillSubmitted.nim }}</p> -->
     
     <ion-select fill="outline" label="Kelas" [(ngModel)]="dataWillSubmitted.class">
      <ion-select-option *ngFor="let class of classData" [value]="class">{{ class }}</ion-select-option>
    </ion-select>

    <!-- Uncomment Ini untuk debugging -->
     <!-- <p>{{ dataWillSubmitted.class }}</p> -->

     <!-- Kerjakan Ini!!! -->
     <!-- Silahkan Kerjakan fungsi submitData di home.page.ts -->
    <ion-button (click)="submitData()" >Tambah</ion-button>
    
    
  </div>

  <!-- Kerjakan Ini!!! -->
  <!-- Silahkan Tampilkan data dari variabel personData di home.page.ts. Petunjuk : Gunakan Looping *ngFor -->

  <div class="result-area" *ngFor="let data of personData">

    <!-- Tampilkan Data dengan mengubah code dibawah ini -->
     <!-- Lakukan dengan memanfaatkan looping -->

    <h1>Person {{data.id}}</h1>
    <p>Nama : {{data.name}} </p>
    <p>NIM : {{data.nim}}</p>
    <p>Kelas : {{data.class}} </p>

    <!-- Ini Button Edit -->
     <!-- Kerjakan!!! -->
      <!-- Silahkan sambungkan button ini ke fungsi openEditForm() -->
    <ion-button (click)="openEditForm(data.id)">Edit</ion-button>


    <!-- Ini Button Delete  -->
     <!-- Kerjakan!!! -->
      <!-- Silahkan sambungkan button ini ke fungsi onDelete(id). note : Jangan lupa kasih parameter id dari setiap data. Data yang berasal dari setiap looping -->
    <ion-button color="danger" (click)="onDelete(data.id)">Delete</ion-button>

    <!-- Anggap Komponen Untuk Edit Data -->
    <div *ngIf="currentEditId === data.id">
      <div class="input-area">
        <ion-input 
          fill="outline" 
          label="Nama" 
          [(ngModel)]="editDataForm.name">
        </ion-input>
  
        <ion-input 
          fill="outline" 
          label="NIM" 
          type="number" 
          [(ngModel)]="editDataForm.nim">
        </ion-input>
  
        <ion-select 
          fill="outline" 
          label="Kelas" 
          [(ngModel)]="editDataForm.class">
          <ion-select-option *ngFor="let class of classData">
            {{ class }}
          </ion-select-option>
        </ion-select>
  
        <!-- Button untuk menyimpan perubahan -->
        <ion-button (click)="editData(data.id)">Simpan</ion-button>
        <ion-button color="light" (click)="closeEditForm()">Batal</ion-button>
      </div>
    </div>
  </div>

</ion-content>
